@import "./variables/colors";
@import "./variables/mixins";
@import "./variables/variables";

@media screen and (min-width: 768px) {
  /*Third Sector*/
  .third-sector-top {
    @include dim(100vh);
    .top-sector {
      @include dim(90%);
      .top-sector-img {
        @include dim(100%);
        object-fit: cover;
      }
    }
  }
  .third-sector-middle {
    .middle-sector {
      @include dim(90%);
      .top-sector-img {
        @include dim(100%);
        object-fit: cover;
      }
    }
  }
}
@media screen and (min-width: 2560px) {
  .first-sector {
    @include dim(100vh);
    .first-sector-img {
      @include imgPos;
    }
    .first-sector-btn {
      padding: 0.5rem 5rem;
      margin-top: 30%;
      font-size: 32px;
      position: absolute;
      background-color: $black !important;
    }
  }
}
@media screen and (max-width: 375px) {
  .first-sector {
    @include dim(100vh);
    .first-sector-img {
      @include imgPos;
    }
    .first-sector-btn {
      margin-top: 99%;
      position: absolute;
      background-color: $black !important;
    }
  }
}
@media screen and (max-width: 576px) {
  .first-sector {
    .first-sector-btn {
      @include dim(10% !important);
      width: 60% !important;
      padding: 1%;
      position: absolute;
      margin-top: 70%;
    }
  }
}
@media screen and (max-width: 767px) {
  /*Fourth Sector*/
  .fourth-sector {
    @include dim(100vh);
    background-color: $black;
    .row-top {
      @include dim(25%);
      .fourth-sector-top-left {
        @include dim(50% !important);
        .fourth-sector-img-one {
          @include dim(100% !important);
          object-fit: cover;
        }
      }
    }
    .row-bottom {
      @include dim(25%);
      .fourth-sector-bottom-right {
        @include dim(50% !important);
        .fourth-sector-img-two {
          @include dim(100% !important);
          object-fit: cover;
        }
      }
    }
  }
}
