@import "./variables/colors";
@import "./variables/mixins";
@import "./variables/variables";

@media screen and (min-width: 768px) {
  /*Third Sector*/
  .third-sector-top {
    @include dim(100vw, 100vh);
    .top-sector {
      @include dim(100%, 90%);
      .top-sector-img {
        @include dim(100%, 100%);
        object-fit: cover;
      }
    }
  }
  .third-sector-middle {
    .middle-sector {
      @include dim(100%, 90%);
      .top-sector-img {
        @include dim(100%, 100%);
        object-fit: cover;
      }
    }
  }
}
@media screen and (min-width: 2560px) {
  .first-sector {
    @include dim(100vw, 100vh);
    .first-sector-img {
      @include imgPos;
    }
    .first-sector-btn {
      padding: 0.5rem 5rem 0.5rem 5rem;
      margin-top: 30%;
      font-size: 32px;
      position: absolute;
      background-color: $black !important;
    }
  }
}
@media screen and (max-width: 375px) {
  .first-sector {
    @include dim(100vw, 100vh);
    .first-sector-img {
      @include imgPos;
    }
    .first-sector-btn {
      margin-top: 99%;
      position: absolute;
      background-color: $black !important;
    }
  }
}
@media screen and (max-width: 576px) {
  .first-sector {
    .first-sector-btn {
      @include dim(60% !important, 10% !important);
      padding: 1%;
      position: absolute;
      margin-top: 70%;
    }
  }

  /*Seventh Sector*/
  .seventh-sector {
    .comprar-btn {
      @include dim(20rem, 3rem !important);
      margin-top: 30% !important;
    }
  }
}
@media screen and (max-width: 767px) {
  /*Fourth Sector*/
  .fourth-sector {
    @include dim(100vw, 100vh);
    background-color: $black;
    .row-top {
      @include dim(100%, 25%);
      .fourth-sector-top-left {
        @include dim(100%, 50% !important);
        .fourth-sector-img-one {
          @include dim(100%, 100% !important);
          object-fit: cover;
        }
      }
    }
    .row-bottom {
      @include dim(100%, 25%);
      .fourth-sector-bottom-right {
        @include dim(100%, 50% !important);
        .fourth-sector-img-two {
          @include dim(100%, 100% !important);
          object-fit: cover;
        }
      }
    }
  }

  /*Seventh Sector*/
  .seventh-sector {
    @include dim(100vw, 40vh);
    .seventh-background-grad-top {
      @include dim(100%, 50%);
      background-image: linear-gradient(360deg, $black, $salt-box 95%);
      position: absolute;
      .seventh-sale-btn {
        @include dim(100%, 70%);
        .preventa-btn {
          border-radius: 100px;
          position: absolute;
          background-color: $black !important;
        }
        .comprar-btn {
          @include dim(20rem, 3rem);
          margin-top: 20% !important;
          font-weight: 600;
          border-radius: 100px;
          position: absolute;
          background-color: $white !important;
        }
      }
    }
  }
}
