@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@media screen and (min-width: 768px) {
  /*Third Sector*/
  .third-sector-top {
    width: 100vw;
    height: 100vh;
  }
  .third-sector-top .top-sector {
    width: 100%;
    height: 90%;
  }
  .third-sector-top .top-sector .top-sector-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .third-sector-middle .middle-sector {
    width: 100%;
    height: 90%;
  }
  .third-sector-middle .middle-sector .top-sector-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 2560px) {
  .first-sector {
    width: 100vw;
    height: 100vh;
  }
  .first-sector .first-sector-img {
    background-size: cover;
    background-position: center;
  }
  .first-sector .first-sector-btn {
    padding: 0.5rem 5rem;
    margin-top: 30%;
    font-size: 32px;
    position: absolute;
    background-color: #000 !important;
  }
}

@media screen and (max-width: 375px) {
  .first-sector {
    width: 100vw;
    height: 100vh;
  }
  .first-sector .first-sector-img {
    background-size: cover;
    background-position: center;
  }
  .first-sector .first-sector-btn {
    margin-top: 99%;
    position: absolute;
    background-color: #000 !important;
  }
}

@media screen and (max-width: 576px) {
  .first-sector .first-sector-btn {
    width: 60% !important;
    height: 10% !important;
    padding: 1%;
    position: absolute;
    margin-top: 70%;
  }
}

@media screen and (max-width: 767px) {
  /*Fourth Sector*/
  .fourth-sector {
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
  .fourth-sector .row-top {
    width: 100%;
    height: 25%;
  }
  .fourth-sector .row-top .fourth-sector-top-left {
    width: 100%;
    height: 50% !important;
  }
  .fourth-sector .row-top .fourth-sector-top-left .fourth-sector-img-one {
    width: 100%;
    height: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fourth-sector .row-bottom {
    width: 100%;
    height: 25%;
  }
  .fourth-sector .row-bottom .fourth-sector-bottom-right {
    width: 100%;
    height: 50% !important;
  }
  .fourth-sector .row-bottom .fourth-sector-bottom-right .fourth-sector-img-two {
    width: 100%;
    height: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.gradient-div-blacktowhite09 {
  width: 100%;
  height: 30vh;
  opacity: 0.9;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#020202d2));
  background-image: linear-gradient(360deg, #fff, #020202d2);
}

.gradient-div-whitetoblack {
  width: 100%;
  height: 40vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(80%, #000));
  background-image: linear-gradient(180deg, #fff, #000 80%);
}

.gradient-div-blacktoblue {
  width: 100vw;
  height: 30vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#3c7aac), color-stop(85%, #000));
  background-image: linear-gradient(360deg, #3c7aac, #000 85%);
}

.gradient-div-graytoblue {
  width: 100vw;
  height: 30vh;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #474a53), to(#8793ac));
  background-image: linear-gradient(180deg, #474a53 15%, #8793ac);
}

.gradient-div-lightgraytoblue {
  width: 100vw;
  height: 30vh;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #304769), color-stop(95%, #c1c1bf));
  background-image: linear-gradient(360deg, #304769 50%, #c1c1bf 95%);
}

.gradient-div-purpletolightblue {
  width: 100vw;
  height: 30vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#b5cbe2), to(#6a6068));
  background-image: linear-gradient(360deg, #b5cbe2, #6a6068);
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto" !important;
  overflow-x: hidden;
}

/*First Sector*/
.first-sector {
  width: 100vw;
  height: 100vh;
}

.first-sector .first-sector-head {
  top: 0;
  position: absolute;
  color: #fff;
  opacity: 0.9;
}

.first-sector .first-sector-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.first-sector .first-sector-btn {
  width: 20rem;
  height: 3rem;
  bottom: 0;
  font-weight: 500;
  border: 3px solid #fff !important;
  border-radius: 100px;
  position: absolute;
  background-color: #000 !important;
  opacity: 0.9;
}

.first-sector .first-sector-btn a {
  color: #fff;
  text-decoration: none;
}

/*Second Sector*/
.second-sector {
  width: 100vw;
  height: 100vh;
}

.second-sector .carousel-slide,
.second-sector .carousel-inner,
.second-sector .carousel-item {
  width: 100%;
  height: 100%;
}

.second-sector .carousel-slide .carousel-img,
.second-sector .carousel-inner .carousel-img,
.second-sector .carousel-item .carousel-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Gradient Div*/
/*Third Sector*/
.third-sector-top {
  width: 100vw;
  height: 100vh;
}

.third-sector-top .top-sector {
  width: 100%;
  height: 100%;
}

.third-sector-top .top-sector .top-sector-img {
  width: 100%;
  height: 70% !important;
  background-position: center;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.third-sector-top .top-sector .top-sector-head h6 {
  font-weight: 400;
}

.third-sector-top .top-sector .top-sector-p-text {
  word-spacing: 2px;
  font-weight: 300;
}

.third-sector-middle {
  width: 100vw;
  height: 100vh;
}

.third-sector-middle .middle-sector {
  width: 100%;
  height: 70% !important;
}

.third-sector-middle .middle-sector img {
  width: 100%;
  height: 70% !important;
  background-position: center;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.third-sector-middle .middle-sector .middle-sector-head h6 {
  font-weight: 400;
}

.third-sector-middle .middle-sector .middle-sector-p-text {
  word-spacing: 2px;
  font-weight: 300;
}

/*Gradient Div*/
/*Fourth Sector*/
.fourth-sector {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.fourth-sector .row-top {
  width: 100%;
  height: 50%;
}

.fourth-sector .row-top .fourth-sector-top-left {
  width: 100%;
  height: 100%;
}

.fourth-sector .row-top .fourth-sector-top-left .fourth-sector-img-one {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fourth-sector .row-bottom {
  width: 100%;
  height: 50%;
}

.fourth-sector .row-bottom .fourth-sector-bottom-right {
  width: 100%;
  height: 100%;
}

.fourth-sector .row-bottom .fourth-sector-bottom-right .fourth-sector-img-two {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Gradient Div*/
/*Fifth Sector*/
.fifth-sector {
  width: 100vw;
  height: 100vh;
}

.fifth-sector .background-grad-top {
  width: 100%;
  height: 30%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#3c7aac));
  background-image: linear-gradient(360deg, transparent, #3c7aac);
  position: absolute;
}

.fifth-sector .fifth-sector-text {
  position: absolute;
}

.fifth-sector .fifth-sector-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fifth-sector .background-grad-bottom {
  width: 100%;
  height: 30%;
  opacity: 0.2;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(95%, transparent), to(#474a53));
  background-image: linear-gradient(360deg, transparent 95%, #474a53);
  position: absolute;
}

/*Gradient Div*/
/*Sixth Sector*/
.sixth-sector {
  width: 100vw;
  height: 100vh;
}

.sixth-sector .sixth-background-grad-top {
  width: 100%;
  height: 30%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(70%, #8793ac));
  background-image: linear-gradient(360deg, transparent, #8793ac 70%);
  position: absolute;
}

.sixth-sector .sixth-sector-img-text {
  width: 100%;
  height: 100%;
}

.sixth-sector .sixth-sector-img-text .sixth-sector-text {
  position: absolute;
}

.sixth-sector .sixth-sector-img-text .sixth-sector-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sixth-sector .sixth-background-grad-bottom {
  width: 100%;
  height: 30%;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(85%, #68606c), to(transparent));
  background-image: linear-gradient(360deg, #68606c 85%, transparent);
  position: absolute;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

/*Seventh Sector*/
.seventh-sector {
  width: 100vw;
  height: 20vh;
}

.seventh-sector .seventh-background {
  width: 100%;
  height: 100%;
  background-image: #fff;
  position: absolute;
}

.seventh-sector .seventh-background .seventh-sale-btn {
  width: 100%;
  height: 70%;
}

.seventh-sector .seventh-background .seventh-sale-btn .preventa-btn {
  font-weight: 600;
  border-radius: 100px;
  background-color: #000 !important;
  -webkit-animation: 100ms;
          animation: 100ms;
}

.seventh-sector .seventh-background .seventh-sale-btn .preventa-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.seventh-sector .seventh-background .seventh-sale-btn .comprar-btn {
  width: 20rem;
  height: 3rem;
  font-weight: 600;
  border-radius: 100px;
  border: 4px solid #000 !important;
  background-color: #fff !important;
  -webkit-animation: 100ms;
          animation: 100ms;
}

.seventh-sector .seventh-background .seventh-sale-btn .comprar-btn a {
  color: #000;
  text-decoration: none;
}

.seventh-sector .seventh-background .seventh-sale-btn .comprar-btn:hover {
  width: 20rem;
  height: 3rem;
  font-weight: 600;
  border-radius: 100px;
  border: 4px solid #000 !important;
  background-color: #fff !important;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.seventh-sector .seventh-background .seventh-sale-btn .comprar-btn:hover a {
  color: #000;
  text-decoration: none;
}

/*Model 3*/
/*Fifth Sector*/
.model-3-background-grad-bottom {
  width: 100%;
  height: 30%;
  opacity: 0.2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(95%, transparent), to(#304769));
  background-image: linear-gradient(180deg, transparent 95%, #304769);
  position: absolute;
}

/*Gradient Div*/
/*Sixth Sector*/
.model-3-sixth-background-grad-top {
  width: 100%;
  height: 30%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#304769));
  background-image: linear-gradient(360deg, transparent, #304769);
  position: absolute;
}

/*Model X*/
/*Third Sector*/
.model-x-top-sector {
  width: 100%;
  height: 100%;
}

.model-x-top-sector .model-x-top-sector-img {
  width: 100%;
  height: 70% !important;
  background-position: center;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.model-x-top-sector .top-sector-head h6 {
  font-weight: 400;
}

.model-x-top-sector .top-sector-p-text {
  word-spacing: 2px;
  font-weight: 300;
}

.model-x-middle-sector {
  width: 100%;
  height: 100% !important;
}

.model-x-middle-sector img {
  width: 100%;
  height: 70% !important;
  background-position: center;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.model-x-middle-sector .middle-sector-head h6 {
  font-weight: 400;
}

.model-x-middle-sector .middle-sector-p-text {
  word-spacing: 2px;
  font-weight: 300;
}

/*Fifth Sector*/
.model-x-background-grad-bottom {
  width: 100%;
  height: 30%;
  opacity: 0.1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(95%, transparent), to(#b5cbe2));
  background-image: linear-gradient(180deg, transparent 95%, #b5cbe2);
  position: absolute;
}

/*Gradient Div*/
/*Sixth Sector*/
.model-x-sixth-background-grad-top {
  width: 100%;
  height: 30%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#b5cbe2));
  background-image: linear-gradient(360deg, transparent, #b5cbe2);
  position: absolute;
}
/*# sourceMappingURL=styles.css.map */